################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TestNow/Program.cs
/TestNow/Program.cs
/TestNow/TestNow.csproj
/TestNow/Program.cs
