<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionstring>
		<add name="MyDataBase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\krist\source\repos\TestNow\TestNow\TestWetherData.mdf;Integrated Security=True" />
	</connectionstring>
</configuration>